*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

/* Home page */
html{
    background:linear-gradient(to bottom,#FC5E55,#FA4083);
}

body{
    height:100%;
}
 
.container{
    background-image: url(image-lion-background.png);
    background-position: top center; 
    background-repeat: no-repeat;
    height:1024px;
    width: 56.25rem;
    margin:auto;
    
}

header{
    border-bottom: 2px solid rgba(255, 255, 255, 0.39);
    padding-bottom: 1rem;
}

.nav-menu{
    padding-top: 1rem;
    display:flex;
    justify-content:space-between;
}

.nav-menu>.right-side>div{
    margin-right: 20px;
}

.right-side{
    padding-top:3.5rem;
    padding-right: 1rem;
}

/* Write buttons links! */
.nav-buttons button{
    background:transparent;
    border: 2px solid white;
    border-radius: 3px;
    padding:5px;
    margin-right:10px;
    color:white;
}

button:hover{
    transition: ease-in-out, 400ms;
    background:white;
    opacity:1;
    color:black;
    cursor:pointer;
}

.article{
    display:grid;
    grid-template-columns:1fr 1fr;
    margin-top: 5rem;
    width: 56.25rem;
    justify-content:space-between;
}

.right img{
    float: right;
    margin-left: 20px;
}

.left h1{
    margin-bottom:10px;
    text-align: justify;
    color:white;
}

h2{
    color:white;
}

p{
    color:white;
    font-weight:lighter;
}

.fp{
    margin-bottom:10px
}

footer{
    height:50px;
}

a{
    text-decoration:none;
    color:white;
}

a:hover{
    color:black;
}